| Hey there! <br />
| You requested your password to be reset at #{config.app.name} <br />
| Do not worry, we've got you covered ! < br/>
| Your password reset code is #{resetCode}. <br />
| Enter this code on the website. This code will expire in 24 hours.
